@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}




.login {
  background-image: url("https://i.imgur.com/Dwg39bJ.jpg");
  background-size: contain;
  padding-bottom: 400px
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1% 37%;
  text-align: center;
  background-color: rgba(240, 240, 255, 0.734);
  padding: 10px;
  border-radius: 20px
}

.login-form{
  display: flex;
  flex-direction: column;
}

.login-div {
  background-color: rgba(240, 240, 255, 0.734);
  text-align: center;
  margin: 0 auto;
  width: 20%;
  padding: 10px;
  border-radius: 25px;
}

.login-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(49, 133, 77);
  padding: 10px;
  color: white;
  animation-name: fadein;
  animation-duration: 4s;

}

.login-element {
  margin: 5px auto;
}

.app-description {
  margin: 50px;
  text-align: center;
  background-color: rgba(240, 240, 255, 0.734) ;
  padding: 20px;
  border-radius: 10px;
}

button.login-element {
  margin-top: 25px;
  background-color: rgb(49, 133, 77);
  font-weight: bold;
  padding: 10px;
  border: none;
  transition-duration: 0.35s;
  color: white;
}

button.login-element:hover {
  background-color: white;
  border: 2px rgb(49, 133, 77);
  color: black;
  cursor: pointer
}

label.login-element {
  text-decoration: underline;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px
}

.nav-button {
  margin-left: 100px;
  border: none;
  background: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition-duration: 0.2s;
  text-decoration: underline;
}

.nav-button:hover {
  cursor: pointer;
  text-decoration: none;
}

header.nav {
  background-color: rgb(49, 133, 77)
}

.welcome {
  text-align: center;
  background-color: rgba(211, 215, 217, 0.168);
  color: rgb(100, 100, 100);
  padding: 20px;
  border-radius: 20px;
  width: 50%;
  margin: 20px auto
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px
}

.event {
  text-align: center;
}

.event-post {
  border: ridge 2px;
  margin-top: 20px;
  padding: 35px 80px;
  border-radius: 30px;
  background-color: rgb(49, 133, 77);
  color: white;
}

.event-post:hover {
  cursor: pointer
}

.add-event {
  border-radius: 10px;
  background-color: #a6a6a6;
  color: white;
  padding: 7px;
  font-weight: bold;
  transition-duration: 0.4s;
}

.add-event:hover {
  cursor: pointer;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(0, 255, 0);
}

#close:hover {
  background-color: red;
}

.add-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#submit-add {
  margin-top: 20px
}

form.add-form>label,
form.add-form>input {
  margin-top: 10px
}

.event-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#update-event {
  margin-top: 20px;
  align-self: flex-end;
  margin-right: 400px;
  border-radius: 10px;
  background-color: #a6a6a6;
  color: white;
  padding: 7px;
  font-weight: bold;
  transition-duration: 0.4s;
}

#update-event:hover {
  background-color: orange;
  cursor: pointer;
}

#delete-event {
  margin-top: 10px;
  align-self: flex-end;
  margin-right: 400px;
  border-radius: 10px;
  background-color: #a6a6a6;
  color: white;
  padding: 7px;
  font-weight: bold;
  transition-duration: 0.4s;
}

#delete-event:hover {
  background-color: red;
  cursor: pointer;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin-left: 10px;
  margin-top: 10px;
  border-style: inset;
  padding: 10px 0 10px 10px;
  background-color: #2bb1e6;
  color: white;
  border-radius: 100px;
}

.event-details>h1 {
  text-decoration: underline;
}

.update-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.update-form>label,
.update-form>input {
  margin-top: 10px
}

.update-form>button {
  margin-top: 20px;
}

.update-form>label {
  font-weight: bold;
  text-decoration: underline;
}

.update-form>input {
  transition-duration: 0.3s;
  padding: 8px;
  font-size: 20px;
}

.update-form>input:focus {
  border: 3px solid black;
}

#close-two:hover {
  background-color: red;
}

#close-two {
  margin-top: 15px;
  margin-left: 1000px;
}

.comment-label {
  margin-left: 20px;
  margin-bottom: 30px
}

#update-user {
  margin-top: 20px
}

#update-user:hover {
  background-color: orange;
}

.profile-info {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-update {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  padding: 40px;
}

.profile-update>label,
.profile-update>input,
.profile-update>button {
  margin-left: 10px;
}

.profile-update>label {
  margin-top: 30px;
  font-weight: bold;
}

.profile-update>input {
  padding-left: 5px;
  font-size: 20px;
}

#update-user:hover {
  background-color: orange;
}

#update-user {
  margin-bottom: 30px
}

.icon {
  color: white;
  width: 40px;
  height: 30px;
}

.nav-div{
  padding: 0 auto;
}