
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1% 37%;
  text-align: center;
  background-color: rgba(240, 240, 255, 0.734);
  padding: 10px
}

.login-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(to right, rgb(91, 255, 146), rgb(91, 255, 146, 0.3));
  
  background-size: cover;
  padding: 10px;
  color: white
}

.login-element{
  margin: 10px;
}

button.login-element {
  margin-top: 25px;
  background-color: rgb(91, 255, 146);
  font-weight: bold;
  padding: 10px
}

label.login-element {
  text-decoration: underline;
}